<% provide(:title, 'Home') %>

<% if signed_in? %>
  <div class="page-header">
    <h1>Status Updates <small>What's up?</small></h1>
  </div>
  <div class="row">
    <%= render 'shared/user_info' %>
    <%= render 'shared/stats' %>
    <div class="span8">
      <%= render 'shared/micropost_form' %>
    </div>
  </div>
  <%= render 'shared/feed' %>
<% else %>
  <div class="page-header">
    <h1>Wine Courses <small>sample video education platform</small></h1>
  </div>
  <p>
    This is the home page for the Wine Folly Courses test framework.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>
<% end %>