<% provide :title, @user.name %>
<div class="page-header">
  <h1><%= @user.name %> <small>Profile</small></h1>
</div>
<div class="row">
  <div class="span2">
    <%= gravatar_for @user, size: 128, classes: 'thumbnail pull-right' %>
  </div>
  <div class="span2">
    <p>
      <strong><%= @user.name %></strong><br/>
      <%= @user.email %><br/>
      <%= @user.microposts.count %> updates
    </p>
    <p><%= render 'shared/stats' %></p>
    <p><%= render 'follow_form' if signed_in? %></p>
  </div>
  <div class="span8">
    <h4>Recent Updates</h4>
    <% if @user.microposts.any? %>        
      <table class="table table-striped">
        <%= render @microposts %>
      </table>
      <p><%= page_navigation_links @microposts %></p>
    <% end %>    
  </div>
</div>
