<!-- Navigation Partial -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Wine Folly School</a>        
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Contact", contact_path %></li>        
      </ul>
      <p class="navbar-text pull-right">
        <%= link_to "Login", "#" %> | <%= link_to "Register", "#" %>
      </p>
    </div>
  </div>
</div>
<!-- END Navigation Partial -->