<!-- Navigation Partial -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Wine Folly School", root_path, class: "brand" %>
      <ul class="nav">        
        <li><%= link_to "Features", "#" %></li>
        <li><%= link_to "Pricing", "#" %></li>
      </ul>
      <p class="navbar-text pull-right">
        <% if signed_in? %>
          <%= link_to "Profile", current_user %> | 
          <%= link_to "Sign out", signout_path, method: :delete %>
        <% else %>
          Already a member? <%= link_to "Sign in", signin_path %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<!-- END Navigation Partial -->